---
---

@import "{{ site.theme }}";

.markdown-body table {
  display: table;
}

.markdown-body {
  h1, h2 {
    padding-bottom: initial;
    border-bottom: none;
  }
}

a {
  &:hover, &:active, &.anchorjs-link:hover {
    color: #81A051;
  }
}

.anchorjs-link:hover {
  text-decoration: none;
}
