---
---

@import "{{ site.theme }}";

.markdown-body table {
  display: table;
}

.markdown-body h1, .markdown-body h2 {
  padding-bottom: initial;
  border-bottom: none;
}

.anchorjs-link {
  text-decoration: none;
}
