<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo title=false %}
    <title>{{ page.title | page.description }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <meta name="google-site-verification" content="jUGwTFIKZiIUzMMPj6xhsLx048C3czXph4DdAdYrm84" />
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This project was created by <a href="http://olivierlacan.com">Olivier Lacan</a><a rel="me" href="https://ruby.social/@olivierlacan"></a>. It's open source, so {% github_edit_link "suggestions are welcome" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>
      anchors.add();
      document.addEventListener("DOMContentLoaded", function(event) {
        var i = document.createElement("input");
        var rows = [].slice.call(document.querySelectorAll("tr td:first-child"));
        var keywords = rows.map(function(value){ return value.textContent });

        i.placeholder = "Type in a keyword...";
        i.type = "text";
        i.classList.add("search");

        title = document.querySelector("h1");
        title.after(i);

        i.addEventListener("keydown", function(e){
          rows.forEach(function(row) {
            row.classList.remove("active-row");
          });
          var matches = [];

          var currentValue = e.currentTarget.value;

          if(currentValue.length >= 3){
            for(i = 0; i < keywords.length; i++) {
              keyword = keywords[i];
              if(keyword.toLowerCase().includes(currentValue.toLowerCase())) {
                matches.push(keyword);
              }
            }

            console.log(matches)

            matchingRows = [];

            if(matches.length > 0){
              matchingRows = rows.filter(function(row) {
                if(matches.includes(row.textContent)) {
                  return row
                }
              })

              console.log(matchingRows);

              for(row of matchingRows){
                console.log(row.textContent);
                row.classList.add("active-row");
              }
            }

          } else {
            console.log("Not enough characters...")
          }

        });


      });
    </script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5c5b68f940ebf573fada0e2a');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
  </script>
  </body>
</html>
